
@{
    ViewBag.Title = "Projects";
    var numjs = System.IO.File.ReadAllText(Server.MapPath(@"~/Scripts/NumberCrunch.js"));
    var facjs = System.IO.File.ReadAllText(Server.MapPath(@"~/Scripts/Factorial.js"));
    var fbjs = System.IO.File.ReadAllText(Server.MapPath(@"~/Scripts/FizzBuzz.js"));
    var paljs = System.IO.File.ReadAllText(Server.MapPath(@"~/Scripts/Palindrome.js"));
 }

<body class="bgcolor">
    <div class="bodytext boxshadow">
        <div class="headtext">
            <h1>Projects</h1>
        </div>
    </div>
    <div>
        <div class="btn btn-default btn-sm boxshadow" id="JavaB"><span class="network-name shadow">Javascript Exercises</span></div>
        <a href="@Url.Action("Index", "Blog")" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Blog</span></a>
        <a href="https://ksturzenbecker-bugtracker.azurewebsites.net/" target="_blank" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Bug Tracker</span></a>
        <a href="http://ksturzenbecker-carfinder.azurewebsites.net/" target="_blank" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Car Finder</span></a>
        <a href="http://ksturzenbecker-budget.azurewebsites.net/" target="_blank" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Budget Planner</span></a>
    </div>
    <div class="centertext">
        <br />
        <h1 class="shadow">Welcome to my Project Page</h1>
        <br />
        <h4>Here you can find my projects from Coder Foundry</h4>
        <br />
    </div>
    <div id="target" hidden="hidden">
        <div class="col-xs-12 centertext shadow">
            <h2>My Javascript Exercises</h2>
        </div><br />
        <div class="col-xs-3 centertext">
            <img src="~/Content/img/java.png" /><br />
            <a href="" data-toggle="modal" data-target="#number" id="p1" class="shadowlink"><h4>Number Cruncher</h4></a>
        </div>

        <div class="modal fade" id="number" tabindex="-1" role="dialog" aria-labelledby="number" aria-hidden="true" on>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-xs-11">
                                <h1 class="modal-title" id="myModalLabel">Number Cruncher</h1>
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <div>
                                    <p>
                                        Enter any number of numbers and when ready click Go to find the min, max, mean,
                                        sum and product of all the numbers.
                                    </p>
                                    <p id="textb"></p>
                                    <input autofocus type=number id="numberin"><br>
                                    <input id="submit" type="button" value="Submit" onclick="listHandler();setText();">
                                    <input id="go" type="button" value="Go!" onclick="getFinal();reset();setText();">
                                    <p id="printit"></p>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <pre class="brush: js">
                                    @Html.Raw(numjs);
                                </pre>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-margin">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 centertext">
            <img src="~/Content/img/java.png" /><br />
            <a href="" data-toggle="modal" data-target="#factorial" id="p2" class="shadowlink"><h4>Factorial</h4></a>
        </div>

        <div class="modal fade" id="factorial" tabindex="-1" role="dialog" aria-labelledby="factorial" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-xs-11">
                                <h1 class="modal-title" id="myModalLabel">Factorial</h1>
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <p>Enter a number to find the factorial</p>
                                <input autofocus type=number id="numberinF"><br>
                                <input id="goF" type="button" value="Go!" onclick="doFactorial();resetF();">
                                <p id="printitF"></p>
                            </div>
                            <div class="col-xs-9">
                                <pre class="brush: js">
                                    @Html.Raw(facjs);
                                </pre>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-margin">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 centertext">
            <img src="~/Content/img/java.png" /><br />
            <a href="" data-toggle="modal" data-target="#fizzbuzz" id="p3" class="shadowlink"><h4>FizzBuzz</h4></a>
        </div>

        <div class="modal fade" id="fizzbuzz" tabindex="-1" role="dialog" aria-labelledby="fizzbuzz" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-xs-11">
                                <h1 class="modal-title" id="myModalLabel">FizzBuzz</h1>
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <p>
                                    Enter 2 numbers 1-100.  If
                                    only the first number is a multiple "Fizz" will be displayed.  If only the second number
                                    is a multiple "Buzz" will be displayed.  If both are multiples "FizzBuzz" will be printed.
                                </p>
                                <p id="textbFB"></p>
                                <input autofocus type=number id="numberinFB"><br>
                                <input id="submitFB" type="button" value="Submit" onclick="listHandlerFB();checkInputFB();">
                                <input id="goFB" type="button" value="Go!" onclick="doMultiple();resetFB();checkInputFB();">
                                <p id="printbFB"></p>
                            </div>
                            <div class="col-xs-9">
                                <pre class="brush: js">
                                    @Html.Raw(fbjs);
                                </pre>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-margin">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 centertext">
            <img src="~/Content/img/java.png" /><br />
            <a href="" data-toggle="modal" data-target="#palindrome" id="p4" class="shadowlink"><h4>Palindrome</h4></a>
        </div>

        <div class="modal fade" id="palindrome" tabindex="-1" role="dialog" aria-labelledby="palindrome" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-xs-11">
                                <h1 class="modal-title" id="myModalLabel">Palindrome</h1>
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <div>
                                    <p>
                                        Enter a string to find if it is a palindrome
                                    </p>
                                    <p id="textbP"></p>
                                    <input autofocus type=text id="stringinP"><br>
                                    <input id="submitP" type="button" value="Submit" onclick="listHandlerP(); Pali(); setTextP(); resetP();">
                                    <p id="printbP"></p>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <pre class="brush: js">
                                    @Html.Raw(paljs);
                                </pre>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-margin">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script src="~/Scripts/Projects.js"></script>
}


