@model WebApplication4.Models.BlogPost
@{
    ViewBag.Title = "Details";
}

<body class="bgcolor">
    <div class="bodytext boxshadow">
        <div class="headtext">
            <h1>@Model.Title</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-1">
            Title:
        </div>
        <div class="col-xs-11">
            @Model.Title
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            Body:
        </div>
        <div class="col-xs-11">
            @Html.Raw(Model.Body)
        </div>
    </div>
@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("Comments", new { id = Model.Id })" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Comment</span></a>
}
    <a href="@Url.Action("Index")" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Return</span></a>
</body>
