@using PagedList
@using PagedList.Mvc
@model IPagedList<WebApplication4.Models.BlogPost>
@{
    var tagClose = true;
    var counter = 1;
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<body class="bgcolor">
    <div class="bodytext boxshadow">
        <div class="headtext">
            <h1>Blog Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Create")" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Create Post</span></a>
            }
        </div>
        <div class="col-xs-6">
            Search:
            <form action="@Url.Action("Index")" method="get" class="formalign">
                <input type="text" id="search" name="search" class="searchbox valignc" />
                <button type="submit" class="btn btn-default btn-sm boxshadow valignc"><span class="network-name shadow">Search</span></button>
            </form>
        </div>
        <div class="col-xs-4" align="right">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-inline">
                        <li>
                            <a href="@Url.Action("Register", "Account")" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Register</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("LogIn", "Account")" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Log In</span></a>
                        </li>
                        @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li>
                                <form action="@Url.Action("LogOff", "Account")" method="post" class="formalign">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Log Out</span></button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div><br />
    <div class="container">
        @if(Model.Count > 0)
        {
        foreach (var item in Model)
        {
            if (tagClose)
            {
                @:<div class="row">
                tagClose = false;
            }
                <div class="col-xs-5 boxshadowblog margin-b-l">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="@Url.Action("Details", new { Slug = item.Slug })" class="shadowlink"><h1>@Html.DisplayFor(modelitem => item.Title)</h1></a>
                            <hr class="hrcolor">
                            <p><span class="glyphicon glyphicon-time"></span>Posted: @item.Created</p>
                            @if (item.Updated != null)
                            {
                                <p><span class="glyphicon glyphicon-time"></span>Updated: @item.Updated</p>
                            }
                            @if (item.MediaURL != null)
                            {
                                <hr class="hrcolor">
                                <img class="img-responsive" src="@item.MediaURL" alt="">
                            }
                            <hr class="hrcolor">
                            @Html.Raw(item.Body)
                            <hr class="hrcolor">
                            <div class="row margin-b-l">
                                <div class="col-xs-12">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                        @Html.Raw("|")
                                    }

                                    @Html.ActionLink("Details", "Details", new { id = item.Id, Slug = item.Slug })

                                    @if (User.IsInRole("Admin"))
                                    {
                                        @Html.Raw("|")
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1"></div>
            if (counter % 2 == 0)
            {
                @:</div>
                tagClose = true;
            }
            counter++;
        }
                      if (tagClose == false)
                      {
                            @:</div>
                      }
                      <br />
        }
        else
        {
            @:<p>There are no posts to be displayed.</p>
            @:<a href="@Url.Action("Index")" class="btn btn-default btn-sm boxshadow margin-b"><span class="network-name shadow">Return</span></a>
        }
        @if (Model.PageCount > 1)
        {
            @:Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.search }))
        }
    </div>
</body>